*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}

@import url(https://fonts.google.com/specimen/Epilogue);

li, a, .nav2{
    font-family: "Epilogue", sans-serif;
    font-weight:500;
    font-size: 16px;
    color:hsl(0, 0%, 41%);
    text-decoration: none;
}

header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding:20px 3%;
}

header img{
    cursor: pointer;
    margin-right: auto;
    order:1;
    padding-top:10px;
}
.menu{display: none;}
header nav{
    margin-right:50%;
    order:1;  
}

 
.nav-links{
    list-style: none;
}
.nav-links li{
    display:inline-block;
    padding:0px 20px;
}
.nav-links li a {
    transition:all 0.3s ease 0s;
}
.nav-links li a:hover {
    color:purple;
}

.icons{
    margin-right: 5px;
}

.nav2{
    order:2;
}

 .nav2 button{
    padding: 10px 20px;
    border: 1.5px solid hsl(0, 0%, 8%);
    border-radius: 10px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    color:hsl(0, 0%, 41%);
    margin-left: 40px;
}

button:hover{
    background-color:hsl(0, 0%, 8%); 
    color: white;
}


.container{
    height:600px;
    padding:0 120px;
    margin-left:5%;
    margin-right:5%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.texts{
    margin-top: 90px;
}
.texts .break{display: none;}

.texts h1{
    font-size:65px;
    margin-bottom: 30px;
    font-weight:900;
    line-height: 60px;
}

.texts p{
    font-size:18px;
    color: hsl(0, 0%, 41%);
    margin-bottom: 30px;
    line-height: 23px;
    font-weight:500;
}

.texts button{
    color:hsl(0, 0%, 98%);
    font-weight: 700;
    padding:14px 25px;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;
    margin-bottom:50px;
    border-style: none;
}

.image{
    max-width: 350px;
    width: 100%;
    height: auto;
}
.image2{ 
    display:none;
}

.logos{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logos img{
    margin-right:20px;
}


/*Responsive Mobile Screen*/

@media screen and (max-width: 375px){

    .nav-links, .nav2{
        display: none;
    }
    header{
        justify-content: space-between;
        display:flex;
        align-items:center;
        margin-bottom: 20px;
    }
    header nav{
        margin:0;
    }
    .menu{
        width:auto;
        height:auto;
        display: list-item;
    }
    .container{
        padding:0;
        margin:0;
    }
    .image2{
    max-width: 450px;
    width: 100%;
    height:auto;
    display:flex;
    }
    .image{
        display:none;
    }
    .texts{
        margin-top: 0;
        text-align: center;
        font-weight: 900;
    }
    .texts .break{
        font-size:40px;
        line-height: 30px;
        font-weight: 900;  
    }
    
    .texts .break1{
        display:none;
    }
    .texts p{
        padding-left:4%;
        padding-right: 4%;
    }
    .texts button{
     border-radius: 12px;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center; 
        margin-left:25px;
        margin-right:10px;
    }
    .logos img{
        max-width: 18%;
        width: 100%;
        height:auto;  
    }
}

/*Responsive Desktop Screen*/

@media screen and (max-width:1440px){

    .nav-links{
        margin-left: 5px;
    }
    .nav-links li{
        display:inline-block;
        padding:0px 10px;
    }
    .break{
        display:none;
    }
    .logos{
        justify-content: space-between;
        align-items: center;
    }
    .logos img{
        margin-right: 20px;
    }
}


/* body{
    font-family: 'Epilogue', sans-serif;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
}

nav img{
    margin-left: 20px;
}

nav ul{
    display:flex;
    
}
nav ul li{
    display: inline-block;
    margin-right:20px;
    text-decoration: none;   
}
nav ul li a{
    text-decoration: none;
    color:hsl(0, 0%, 41%);
}

.sign-ins{
    display:flex;
}

.btn, .btn1{
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px; 
    color: hsl(0, 0%, 41%);
}

.btn1{
    border-radius: 10px;
    border: 1px solid black;
} */

/* main{
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    margin:40px;
}

.texts{
    margin-left: 7%;
}
.texts h1{
    font-size:70px;
    font-weight:bolder;
    margin-bottom:15px;  
}

.texts p{
    font-size:18px;
    color: hsl(0, 0%, 41%);
    margin-bottom: 30px;
    line-height: 23px;
}

.texts button{
    color:hsl(0, 0%, 98%);
    font-weight: 700;
    padding:14px 25px;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;
    margin-bottom:100px;
    border-style: none;
} */

